<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty name="applicationName" source="spring.application.name"/>
    <springProperty name="activeProfile" source="spring.profiles.active"/>
    <springProperty name="elkHost" source="application.elk.url"/>

    <appender name="SAVE-TO-FILE" class="ch.qos.logback.core.FileAppender">
        <file>./logs/application.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern> %d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n </Pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern> %d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n </pattern>
        </encoder>
    </appender>

    <appender name="ELASTIC" class="com.internetitem.logback.elasticsearch.ElasticsearchAppender">
<!--        <url>${ES_HOSTS:elastic:changeme@localhost:9000}</url>-->
<!--        <url>http://elastic:changeme@localhost:9200/_bulk</url>-->
        <url>${elkHost}</url>
        <type>tester</type>
        <index>lab-animal-%date{yyyy-MM-dd}</index>
        <loggerName>es-logger</loggerName> <!-- optional -->
        <errorLoggerName>es-error-logger</errorLoggerName> <!-- optional -->
        <connectTimeout>30000</connectTimeout> <!-- optional (in ms, default 30000) -->
        <errorsToStderr>false</errorsToStderr> <!-- optional (default false) -->
        <includeCallerData>false</includeCallerData> <!-- optional (default false) -->
        <logsToStderr>false</logsToStderr> <!-- optional (default false) -->
        <maxQueueSize>104857600</maxQueueSize> <!-- optional (default 104857600) -->
        <maxRetries>3</maxRetries> <!-- optional (default 3) -->
        <readTimeout>30000</readTimeout> <!-- optional (in ms, default 30000) -->
        <sleepTime>250</sleepTime> <!-- optional (in ms, default 250) -->
        <rawJsonMessage>false</rawJsonMessage> <!-- optional (default false) -->
        <includeMdc>false</includeMdc> <!-- optional (default false) -->
        <maxMessageSize>-1</maxMessageSize> <!-- optional (default -1 -->
        <authentication class="com.internetitem.logback.elasticsearch.config.BasicAuthentication" /> <!-- optional -->
        <properties>
            <property>
                <name>ambiente</name>
                <value>${activeProfile}</value>
            </property>
            <property>
                <name>service</name>
                <value>${applicationName}</value>
            </property>
<!--            <property>-->
<!--                <name>modulo</name>-->
<!--                <value>all</value>-->
<!--            </property>-->
            <property>
                <name>host</name>
                <value>${HOSTNAME}</value>
                <allowEmpty>false</allowEmpty>
            </property>
            <property>
                <name>severity</name>
                <value>%level</value>
            </property>
            <property>
                <name>thread</name>
                <value>%thread</value>
            </property>
            <property>
                <name>stacktrace</name>
                <value>%ex</value>
            </property>
            <property>
                <name>logger</name>
                <value>%logger</value>
            </property>
        </properties>
        <headers>
            <header>
                <name>Content-Type</name>
                <value>application/json</value>
            </header>
        </headers>
    </appender>


    <root level="INFO">
        <appender-ref ref="SAVE-TO-FILE" />
        <appender-ref ref="STDOUT" />
<!--        <appender-ref ref="ELASTIC" />-->
    </root>

    <logger name="org.springframework.web" level="DEBUG"/>

    <logger name="com.oobj.obs.animal" additivity="false" level="DEBUG">
        <appender-ref ref="SAVE-TO-FILE" />
        <appender-ref ref="STDOUT" />
        <appender-ref ref="ELASTIC" />
    </logger>

</configuration>